.home {
  &--btns-wrp{
    margin-top: 20px;
  }

  &--or-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.65rem;
    font-weight: 700;
  }
}