.App {
  padding: 20px;

  @media (min-width: 992px) {
    margin: 50px auto 0 auto;
    max-width: 460px;
    box-shadow: 19px 16px 42px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 19px 16px 42px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 19px 16px 42px 3px rgba(0, 0, 0, 0.1);
    border: 1px #efefef solid;
    height: 90vh;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
